venv/
node_modules/
__pycache__/

.env
*.pbf
*.osm
*.geojson
*.gpkg
*.shp
*.db
*.tif

data/
extract_boundaries.py

!data/rag_docs/
!data/rag_docs/*.txt
!data/rag_docs/*.md:Zone.Identifier
:Zone.Identifier
